@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
	background-color: #edeef0;
	// background-color: #fbfdff;
}

#root {
	height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}
